@import "tailwindcss";

@theme inline {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-light: var(--color-primary-light);
  --color-primary-active: var(--color-primary-active);
  
  --color-app-bg: var(--color-app-bg);
  --color-sidebar-bg: var(--color-sidebar-bg);
  
  --radius-custom-lg: var(--radius-custom-lg);
  --radius-custom-xl: var(--radius-custom-xl);
  --radius-custom-2xl: var(--radius-custom-2xl);

  /* Inverted gray scale mappings pointing to CSS custom variables injected by theme.js */
  --color-gray-950: var(--color-gray-950);
  --color-gray-900: var(--color-gray-900);
  --color-gray-800: var(--color-gray-800);
  --color-gray-700: var(--color-gray-700);
  --color-gray-600: var(--color-gray-600);
  --color-gray-505: var(--color-gray-505);
  --color-gray-500: var(--color-gray-500);
  --color-gray-400: var(--color-gray-400);
  --color-gray-300: var(--color-gray-300);
  --color-gray-200: var(--color-gray-200);
  --color-gray-100: var(--color-gray-100);
  --color-gray-5: var(--color-gray-50);
  --color-gray-50: var(--color-gray-50);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
